<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='row'>
  <div class='col-md-4'>
	  <div class="field">
	    <%= f.input :first_name %>
	  </div>
	  <div class="field">
	    <%= f.input :last_name %>
	  </div>
	  <div class="field">
	    <%= f.input :middle_name %>
	  </div>
	  <div class="field">
	    <%= f.input :home_phone %>
	  </div>
	  <div class="field">
	    <%= f.input :mobile_phone %>
	  </div>
	  <div class="field">
	    <%= f.input :email %>
	  </div>
	  <div class="field">
	    <%= f.input :st_address %>
	  </div>
	  <div class="field">
	    <%= f.input :apt_address %>
	  </div>
	  <div class="field">
	    <%= f.input :city %>
	  </div>
	  <div class="field">
	    <%= f.input :state_id %>
	  </div>
	  <div class="field">
	    <%= f.input :zip %>
	  </div>
	  <div class="field">
	    <%= f.input :preferred_branch_id %><br>
	    <%= f.collection_select :preferred_branch_id, Branch.order(:state_id,:city),:id, :full_name ,{:include_blank => 'Select Branch'}, {:class=>'form-control'} %>
	  </div>
	  <div class="field">
	    <%= f.input :username %>
	  </div>
    <div class="field">
      <%= f.input :password %>
    </div>
  </div>
</div>
<div class='row'>
	<div class='col-md-12'>
  	<%= link_to 'Back', users_path, :class=>"btn btn-default" %>
    <%= f.button :submit, :class=>"btn btn-primary"  %>
    </div>
</div>
<% end %>
