<%= simple_form_for(@tracking) do |f| %>
  <% if @tracking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tracking.errors.count, "error") %> prohibited this tracking from being saved:</h2>

      <ul>
      <% @tracking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :package_id %>
  </div>
  <div class="field">
    <%= f.input :employee_id %>
  </div>
  <div class="field">
    <%= f.input :time %>
  </div>
  <div class="field">
    <%= f.input :type %>
  </div>
  <div class="field">
    <%= f.input :branch_id %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
